<header>
</header>

<body>
  <div class="top_rogo">
    <%= image_tag 'Top_logo.png', class: 'shadow_test', width: '30%' %>
  </div>
  <div>
    このアプリは、グループでのお出かけ時に、
    荷物を最小限にすることを目的にしたアプリです。
  </div>
  <div class="col">
		<button class="col btn btn-dark-moon btn-rounded shadow_test">開始</button>
	</div>
</body>