<header class="navbar bg-secondary bg-dark shadow">
  <%= link_to image_tag 'header_logo.png', width: '150px', class: 'navbar-brand ms-3' %>
  </button>
  <div class="justify-content-end me-3">
    <%= link_to "ログイン", login_path, class: 'btn btn-light shadow' %>
    <%= link_to "アカウント作成", users_new_path, class: 'btn btn-outline-light shadow' %>
  </div>
</header>

