/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
  
/* 共通レイアウト ================================ */

body {
  color: #4d5357;
  background-color: #bababa;
}
  /* 影の追加 =====*/
.shadow_test {
  filter: drop-shadow(2px 2px 2px rgba(160, 160, 160, 0.8));
}

  /* 中央に置くロゴ画像の設定 ==*/
.top_rogo {
  text-align: center;
  margin: 30px;
}

.btn-dark-moon {
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  border: 3px solid #eee;
}
.btn-rounded {
  border-radius: 35px;
}

.centering_parent {
  text-align: center;        /* 中央寄せ */
  float: left;
}

.padding {
  padding: 10px;
}
